.DS_Store
.idea/
omop_vocab/files
.env_local
*.lic
phoebe/concept_recommended.csv
phoebe/__MACOSX
atlas/add_cdm
.Rproj.user
strategus/
secret/
derived/
nquads/
.ipynb_checkpoints/
store/
architecture/stores
*.pyc
__pycache__/
/architecture/7-deployment/lance-mcp/.env
/architecture/7-deployment/lance-mcp/.venv/
